
.idea/artwork-downloader.iml
.idea/dictionaries/user.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/artwork_downloader.cpython-37.pyc
__pycache__/youtube_search_engine.cpython-37.pyc
__pycache__/tracklist_parser.cpython-37.pyc
